@import "tailwindcss";
@config "../tailwind.config.mjs";


.bg-opacity-10 {
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-opacity-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-opacity-30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-opacity-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-opacity-60 {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-opacity-70 {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-opacity-80 {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-opacity-90 {
  background-color: rgba(0, 0, 0, 0.9);
}

.bg-opacity-100 {
  background-color: rgba(0, 0, 0, 1);
}